body {
        height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;

    --color1: #af6fb8;
    --color2: #c769c7;
    --color3: #940749;
    --color4: #9c175a;
    --color5: #d34cbc;



    background: linear-gradient(-45deg,
            var(--color1),
            var(--color2),
            var(--color3),
            var(--color4),
            var(--color5));



    background-size: 400% 400%;
    animation: gradientMove 8s ease infinite;
}

body.sad {
    --color1: #005f82;
    --color2: #003882;
    --color3: #000282;
    --color4: #4d016b;
    --color5: #005a63;
}

body.angry {
    --color1: #ad0006;
    --color2: #c91016;
    --color3: #c95710;
    --color4: #eb5e07;
    --color5: #e82300;
}

body.happy{
    --color1: #af6fb8;
    --color2: #c769c7;
    --color3: #940749;
    --color4: #9c175a;
    --color5: #d34cbc;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#toma {
    font-size: 42px;
    display: flex;
    justify-content: center;
}

.thething {
    display: flex;
    justify-content: center;
}

#happy {
    height: 500px;
    width: 500px;
    image-rendering: crisp-edges;
}

#sad {
    height: 500px;
    width: 500px;
    image-rendering: crisp-edges;
}

#angry {
    height: 500px;
    width: 500px;
    image-rendering: crisp-edges;
}

.kitty-btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 32px 72px;
    border: none;
    border-radius: 999px;
    background: #ffd6e7;
    color: #444;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(255, 182, 193, 0.4);
    transition: top 0.3s ease, left 0.3s ease;
}



.kitty-btn:hover {
    transform: translateY(-6px) scale(1.05);
    background: #ffbfd8;
    box-shadow: 0 10px 20px rgba(255, 182, 193, 0.6);
}


.kitty-btn:active {
    transform: translateY(1px) scale(0.98);
}


.kitty-btn:hover::before,
.kitty-btn:hover::after {
    animation: wiggle 0.5s ease-in-out;
}

#reacth3 {
    display: flex;
    justify-content: center;
}


#btn {
    text-align: center;
  background-color: #EA4C89;
  border-radius: 0px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

 .bar-container {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 25px;
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .bar-fill {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #00c853, #64dd17);
    transition: width 0.2s linear;
  }

  #barbutton {
    padding: 8px 12px;
    cursor: pointer;
    
  }