body {
    margin: 0;
    height: 100vh;
    overflow: hidden;

    background: linear-gradient(-45deg,
            #0f172a,
            #1e3a8a,
            #7c3aed,
            #06b6d4,
            #0f172a);

    background-size: 400% 400%;
    animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#toma {
    font-size: 42px;
    display: flex;
    justify-content: center;
}

.thething {
    display: flex;
    justify-content: center;
}

#happy {
    height: 500px;
    width: 500px;
    image-rendering: crisp-edges;
}

#sad {
    height: 500px;
    width: 500px;
    image-rendering: crisp-edges;
}

#angry {
    height: 500px;
    width: 500px;
    image-rendering: crisp-edges;
}